# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""

# Environment just to use in seeds
AP_CLIENT_ID_GOOGLE=
AP_CLIENT_ID_AZURE=

AP_TOKEN_URL_GOOGLE=
AP_TOKEN_URL_AZURE=

AP_SECRET_GOOGLE=
AP_SECRET_AZURE=

#Environment for authentication flow
JWT_SECRET=
JWT_EXPIRES_TIME=
